.Calculator {
  display: flex;
  justify-content: center;
  margin: 3.5em auto;
  max-width: 80vw;
}

@media (min-width: 35em) {
  .Calculator {
    max-width: 480px;
  }
}

@media (min-width: 50em) {
  .Calculator {
    max-width: 576px;
  }
}

@media (min-width: 67.5em) {
  .Calculator {
    max-width: 720px;
  }
}

.Calculator__wrapper {
  background-color: var(--light-scheme-background-color);
  border: 1px solid var(--light-scheme-border-color);
  border-radius: 12px;
  padding: 0 0.75em;
  width: 100%;
}

body.dark .Calculator__wrapper {
  background-color: var(--dark-scheme-background-color);
  border: 1px solid var(--dark-scheme-border-color);
}

.Calculator__wrapper--focused {
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);
}

body.dark .Calculator__wrapper--focused {
  box-shadow: 0 1px 5px 2px rgba(255, 255, 255, 0.2);
}

.Calculator__input {
  background-color: var(--light-scheme-background-color);
  border-radius: 12px;
  border-style: none;
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
  font-size: 2rem;
  font-weight: 300;
  padding: 0.5em 0;
  word-spacing: -.4ch;
  width: 100%;
}

@media (min-width: 35em) {
  .Calculator__input {
    font-size: 1.75rem;
  }
}

@media (min-width: 50em) {
  .Calculator__input {
    font-size: 1.5rem;
  }
}

@media (min-width: 67.5em) {
  .Calculator__input {
    font-size: 1.25rem;
  }
}

body.dark .Calculator__input {
  background-color: var(--dark-scheme-background-color);
  caret-color: var(--dark-scheme-color);
  color: var(--dark-scheme-color);
}

.Calculator__input:focus {
  outline: none;
}

.Calculator__separator {
  background-color: var(--light-scheme-border-color);
  height: 1px;
}

body.dark .Calculator__separator {
  background-color: var(--dark-scheme-border-color);
}

.Calculator__separator--hidden {
  display: none;
}

.Calculator__output {
  align-items: center;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  gap: 10px;
  padding: 0.75em 0;
}

@media (min-width: 35em) {
  .Calculator__output {
    padding: 0.7em 0;
  }
}

@media (min-width: 50em) {
  .Calculator__output {
    padding: 0.5em 0;
  }
}

@media (min-width: 67.5em) {
  .Calculator__output {
    padding: 0.4em 0;
  }
}

body.dark .Calculator__output {
  color: var(--dark-scheme-color);
}

.Calculator__output--hidden {
  display: none;
}

.Calculator__result {
  font-size: 1.25rem;
}

@media (min-width: 35em) {
  .Calculator__result {
    font-size: 1.125rem;
  }
}

@media (min-width: 50em) {
  .Calculator__result {
    font-size: 1rem;
  }
}

@media (min-width: 67.5em) {
  .Calculator__result {
    font-size: 0.85rem;
  }
}